/* Poppage.css */

.center_div {
  position: fixed;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: black;
  border-radius: 14px;
  width: 590px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
}
.pagetext_main_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 10px;
  color: white;
  margin-top: 17px;
}
.img {
  width: 100%;
  border-radius: 10px;
}
.closebtn {
  border: none;
  position: absolute;
  z-index: 9999;
  top: 5px;
  right: 8px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 5px 3px 5px;
}
.hdbox {
  border: 2px solid white;
  padding: 2px 4px;
}
.margin {
  margin: 10px 0px;
}
.pagetext {
  flex: 0 1 49%;
}
.newgrdien{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background: linear-gradient(0deg, black -4%, transparent 76%);
}
